 <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <a class="navbar-brand" href="#">
        <img src="assets/1.jpeg" alt="logo"/>
      </a>
        <!-- <div class="logo-navbar">
          <h1>Doctor PC</h1>
        </div> -->
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
          </button>
            <div class="navbar-collapse collapse" id="navbarCollapse">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" <%= link_to "Home", root_path %></a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" <%= link_to "Citas", appointments_path %></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" <%= link_to "Ordenes", orders_path %></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" <%= link_to "Servicios", services_path %></a>
                  </li>
                  <li class="nav-item dropdown">
                    <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="assets/avatar.jpg" alt="avatar"/>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="nav-link" <%= link_to "login", new_user_session_path %></a>
                    <a class="nav-link" <%= link_to "logout", destroy_user_session_path, method: :delete %></a>
                  </div>
                  </li>
               </ul>
            </div>
         </div>
      </nav>





<div class="py-5">
  <div class="align-items-center py-3" >
    <h4><strong>Listado de Ordenes de Trabajo OT</strong></h4> <p>| User: <%= current_user.first_name %> |</p>
  </div>
  <div class="align-items-right">
   <!--  <%= link_to "Crear Nueva Orden de Trabajo", new_order_path, class:"btn btn-primary", :method => :get %> -->
    <%= link_to "Volver a Home", root_path, class:"btn btn-primary",:method => :get%>
  </div>
</div>
<div class="container-sm py-3">
  <div class="table-responsive-sm">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nº OT</th>
          <th scope="col">Diagnostico</th>
          <th scope="col">Solución</th>
          <th scope="col">Status</th>
          <th scope="col">Delivery Date</th>
          <th scope="col"></th>
          <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
        <% @orders.each  do |ot| %>
          <tr>
            <th scope="row"><%= ot.id %></th>
            <td><%= ot.diagnostic %></td>
            <td><%= ot.solution %></td>
            <td><%= ot.status %></td>
            <td><%= ot.delivery_date %></td>
             <% if current_user.client == false %>
            <td><%= button_to "Edit", edit_order_path(ot), class:"btn btn-outline-primary", :method => :get %></td>
             <% end %>
            <td><%= button_to "Detail", order_path(ot), class:"btn btn-outline-primary", :method => :get %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>




