<div class="container-sm py-5">
  <h4><strong> Estatus Actualizado de OT  N°<%=@order.id%></strong><small class="text-muted"> (Usuario activo: <%= current_user.first_name %>)</small></h4>
<% if current_user.client == false %>
  <div class="justify-content-center py-3">
     <%= button_to "Eliminar Orden de Trabajo", order_path(@order), method: :delete, class:"btn btn-danger", data: { confirm: "Ud. está seguro?" }%>
  </div>
<% end %>

<div class="justify-content-center">
<%= simple_form_for(@order) do |f| %>
  <%= f.input :diagnostic, label:'Diagnóstico', disable: true, readonly: true %>
  <%= f.input :solution, label: 'Solución' , disable: true, readonly: true%>
  <div class="row">
    <div class="col">
      <%= f.input :price, label: 'Precio' , disable: true, readonly: true%>
    </div>
    <div class="col">
      <%= f.input :delivery_date, label: 'Fecha Entrega', as: :string, input_html: {type: :date} , disable: true, readonly: true%>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <%= f.input :status, label: 'Estatus', collection: ['En Proceso','Terminada','Cancelada'], disable: true, readonly: true%>
    </div>
    <div class="col">
      <%= f.association :appointment, label: 'Nº Reserva Asociada', :collection => Appointment.where(:status=> 'Confirmada'), label_method: :id, value_method: :id , disable: true, readonly: true%>
    </div>
  </div>
<% end %>


<div class="col-sm-9 p-3">
    <%= link_to "Volver Atrás", orders_path %>
  </div>
</div>
