</br>
<h3> Detalle OT  N°<%=@order.id%></h3>
</br>

<div class="container">
  Diagnostic: <%= @order.diagnostic %></br>
  Solution: <%= @order.solution %></br>
  Price: <%= @order.price %></br>
  Delivery Date: <%= @order.delivery_date %></br>
  Status: <%= @order.status%></br>
  Appointment: <%= @order.appointment_id %></br>
</br>
</br>
<div alignment="right">
<%= button_to "Borrar", order_path(@order), method: :delete, class:"btn btn-danger", data: { confirm: "Ud. está seguro?" }%>
</div>
</br><%= link_to "Volver al listado", orders_path %>
</div>


