<div class="container py-3 align-items-left py-3">
  <h4><strong> Detalle OT  N°<%=@order.id%></strong></h3>
</div>
<div class="col-sm-3 p-3">
     <%= button_to "Borrar", order_path(@order), method: :delete, class:"btn btn-danger", data: { confirm: "Ud. está seguro?" }%>
</div>
<div class="container overflow-hidden border bg-light">
  <div class="row gx-5 ">
    <div class="col">
     <div class="p-2 "><strong>Diagnostic:</strong> <%= @order.diagnostic %></div>
    </div>
    <div class="col">
      <div class="p-2 "><strong>Solution:</strong> <%= @order.solution %></div>
    </div>
  </div>
   <div class="row gx-5 border-top">
    <div class="col">
     <div class="p-2 "><strong>Price:</strong><%= @order.price %></div>
    </div>
    <div class="col">
      <div class="p-2 "><strong>Delivery Date:</strong> <%= @order.delivery_date %></div>
    </div>
  </div>
  <div class="row gx-5 border-top">
    <div class="col ">
     <div class="p-2 "><strong>Status:</strong><%= @order.status%></div>
    </div>
    <div class="col">
      <div class="p-2 "><strong>Appointment:</strong><%= @order.appointment_id %></div>
    </div>
  </div>
</div>

<div class="col-sm-9 p-3">
      <%= link_to "Volver al listado", orders_path %>
</div>



