<div class="py-5">
  <div class="align-items-center py-3" >
    <h4><strong>Listado de Citas</strong></h4> <p>| User: <%= current_user.first_name %> |</p>
  </div>

  <div class="align-items-right">
    <%= link_to "Volver a Home", root_path, class:"btn btn-primary",:method => :get%>
  </div>

<div class="container-sm py-3">
  <div class="table-responsive-sm">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id de la cita</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Status</th>
          <th scope="col">Nombre del cliente</th>
          <th scope="col">Email del cliente</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>      
        <tbody>
          <% @appointments.each do |a| %>
            <tr>
              <th scope="row"><%= a.id %></th>
              <td><%= a.description %></td>
              <td><%= a.status %></td>
                <td><%= a.user.first_name%></td>
              <td><%= a.user.email%></td>
              <td><%= a.start_date %></td>
              <td><%= a.end_date %></td>
              <td><%= button_to "Detalle", appointment_path(a), class:"btn btn-outline-primary", :method => :get %></td>
              <% if current_user.client == false %>
              <td><%= button_to "Crear OT", new_order_path(a), class:"btn btn-outline-primary", :method => :get %></td>
              <% end %>
              <td><%= link_to "Eliminar cita", appointment_path(a),class:"btn btn-outline-primary", method: :delete, data: { confirm: "¿eliminar cita?"} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>

