<h2> Listado de Citas </h2>
</br>
<div class="container">
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id de la cita</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Status</th>
          <th scope="col">Email del cliente</th>
      </tr>
      </thead>
      <tbody>
        <% @appointments.each  do |a| %>
          <tr>
            <th scope="row"><%= a.id %></th>
            <td><%= a.description %></td>
            <td><%= a.status %></td>
            <td><%= a.user.email%></td>
            <td><%= a.start_date %></td>
            <td><%= a.end_date %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </br>

  <%= button_to "Agendar cita", new_appointment_path, class:"btn btn-primary", :method => :get %>
</div>

