<div class="appointment">
  <%= @appointment.description %>
  <%= @appointment.status %>
  <%= link_to "Volver a inicio", root_path  %>
<%= link_to "Eliminar cita", appointment_path(@appointment), method: :delete %>

</div>
<% current_user.appointments.each do |appointment| %>
<%=appointment.description%>
<%=appointment.created_at%>
<% end %>
