<div class="container-sm py-5">
    <h4><strong> Detalle de Reserva de Cita </strong></h3><p>| User: <%= current_user.first_name %> |</p>
  <br>
  <div class="justify-content-center">
      <%= button_to "Editar Reserva", edit_appointment_path(@appointment), method: :get, class:"btn btn-info"%>
    </br>
  </div>
<div class=" border bg-light">
  <div class="row gx-5 ">
    <div class="col">
     <div class="p-2 "><strong>Descripción: </strong> <%= @appointment.description %></div>
    </div>
    <div class="col">
      <div class="p-2 "><strong>ID: </strong> <%= @appointment.id %></div>
    </div>
  </div>
   <div class="row gx-5 border-top">
    <div class="col">
     <div class="p-2 "><strong>Fecha de la cita: </strong><%= @appointment.start_date %></div>
    </div>
    <div class="col">
      <div class="p-2 "><strong>Hora de la cita: </strong> <%= @appointment.time %></div>
    </div>
  </div>
  <div class="row gx-5 border-top">
    <div class="col ">
     <div class="p-2 "><strong>Estado: </strong><%= @appointment.status%></div>
    </div>
  </div>
</div>
<div class="row gx-5 border-top">
  <div class="col-sm-3 p-3">
    <% if current_user.client == false %>
      <a class="nav-link" ><%= link_to "Volver Atrás", appointments_path  %></a>
    <% end %>
  </div>
</div>
</div>
