<div class="appointment">
  <%= @appointment.description %>
  <%= @appointment.status %>
  <%= @appointment.time %>
  <%= link_to "Volver a inicio", root_path  %>
<%= link_to "Eliminar cita", appointment_path(@appointment), method: :delete %>
<ul>
</div>
<% current_user.appointments.each do |appointment| %>
<li><%=appointment.description%></li>
<li><%=appointment.start_date%></li>
<li><%=appointment.time%></li>
<% end %>
</ul>
